<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Introvert - project_template</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    
    <body>
        <img src="../assets/MainProfile.jpg" id="MainMenuProfImg">

        <aside id="MainSideMenu">
            <a href="../index.html">
                <h1 id="MainSideMenuName">Evan<br>Van Der Hart<br><span class="IntText">Introvert</span></h1>
            </a>
            
            <p>
                <a href="../pages/Aboutme.html" class="SideBarLinks">About Me</a><br>
                <a href="../pages/Portfolio.html" class="SideBarLinks">Portfolio</a><br>
                <a href="../pages/Blog.html" class="SideBarLinks">Blog</a>
            </p>
        </aside>
        
        <main>
            <section class="Container">
                <div class="slider-wrapper">
                    <div class="slider">
                        <img id="slide-1" src="../assets/pexels-animalsofbne-18380615.jpg">
                        <img id="slide-2" src="../assets/pexels-christina99999-27892877.jpg">
                        <img id="slide-3" src="../assets/pexels-molly-lavallee-2153952420-33094317.jpg">
                    </div>
                    <div class="slider-nav">
                        <a href="#slide-1"></a>
                        <a href="#slide-2"></a>
                        <a href="#slide-3"></a>
                    </div>
                </div>
            </section>
            <a href="https://www.Tacobell.com">
                <h2 class="ProjectHeading">Project Name - Made in Blender</h2>
            </a>
            <h3 class="ProjectPricing">Price: $0.00</h3>
            <p class="ProjectDescription">This is a fun project made in blender that tastes like tacos/</p>
        </main>
        <script src="../js/menu.js"></script>
    </body>
</html>